@font-face {
  font-family: "iconfont"; /* Project id 3797424 */
  src: url('@/static/iconfont.ttf?t=1670158781111') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-monitor:before {
  content: "\e600";
}

.icon-dispatch:before {
  content: "\e62d";
}

.icon-custom:before {
  content: "\e613";
}

.icon-role:before {
  content: "\e648";
}

.icon-unit:before {
  content: "\e649";
}

.icon-order:before {
  content: "\e645";
}

.icon-trucking-order:before {
  content: "\e63a";
}

.icon-vehicleNo:before {
  content: "\ee45";
}

.icon-idCard:before {
  content: "\e68d";
}

.icon-copyright:before {
  content: "\e77e";
}

